---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.0.1/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bento-pdf
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    global:
      fullnameOverride: *app

    controllers:
      bazarr:
        enabled: true
        type: deployment

        replicas: 1

        pod:
          securityContext:
            runAsUser: &group 1000
            runAsGroup: *group
            fsGroup: *group
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/alam00000/bentopdf
              tag: 1.11.1
              pullPolicy: IfNotPresent

            probes:
              liveness:
                enabled: false

            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL

            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 256Mi

    service:
      app:
        primary: true
        controller: bento-pdf
        ports:
          http:
            port: &port 8080

    route:
      external:
        enabled: true
        kind: HTTPRoute
        hostnames: ["pdf.mafyuh.dev"]
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: bento-pdf-app
                port: *port
        parentRefs:
          - name: envoy-external
            namespace: kube-system
            sectionName: https
