---
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
services:
  mysql:
    image: mysql:9.4
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: mafyuh
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - 3306:3306
    volumes:
      - mysql_data:/var/lib/mysql

  postgres:
    image: postgres:17.5
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: mafyuh
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8
    container_name: redis
    restart: unless-stopped
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

  adminer:
    image: adminer:5.3.0
    container_name: adminer
    restart: unless-stopped
    ports:
      - 8080:8080

  pgadmin:
    image: dpage/pgadmin4:9.8.0
    container_name: pgadmin
    restart: unless-stopped
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@mafyuh.com
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
      - PGADMIN_DISABLE_POSTFIX=true
      # - PGADMIN_CONFIG_OAUTH2_CONFIG=${PGADMIN_CONFIG_OAUTH2_CONFIG}
      # - PGADMIN_CONFIG_AUTHENTICATION_SOURCES="['oauth2', 'internal']"
      # - PGADMIN_CONFIG_OAUTH2_AUTO_CREATE_USER=True
    ports:
      - 5050:80

  couchdb-obsidian-livesync:
    container_name: obsidian-livesync
    image: couchdb:3.4.3
    environment:
      - PUID=2003
      - PGID=2003
      - UMASK=0022
      - TZ=America/New_York
      - COUCHDB_USER=mafyuh
      - COUCHDB_PASSWORD=$COUCHDB_PASSWORD
    volumes:
      - /docker/appdata/couchdb-obsidian-livesync/data:/opt/couchdb/data
      - /docker/appdata/couchdb-obsidian-livesync/etc/local.d:/opt/couchdb/etc/local.d
    ports:
      - 5984:5984
    restart: unless-stopped

  minio:
    command: server /data --console-address ":9001"
    image: minio/minio@sha256:d249d1fb6966de4d8ad26c04754b545205ff15a62e4fd19ebd0f26fa5baacbc0
    environment:
      - MINIO_ROOT_PASSWORD=$MINIO_ROOT_PASSWORD
      - MINIO_ROOT_USER=mafyuh
    volumes:
      - minio_data:/data
    container_name: minio
    ports:
      - 9002:9001
      - 9003:9000

volumes:
  mysql_data:
  postgres_data:
  redis_data:
  rustfs_data:
  minio_data:
