---
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
services:
  postgres:
    image: postgres:18
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: mafyuh
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8
    container_name: redis
    restart: unless-stopped
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

  couchdb-obsidian-livesync:
    container_name: obsidian-livesync
    image: couchdb:3.5.1
    environment:
      - PUID=2003
      - PGID=2003
      - UMASK=0022
      - TZ=America/New_York
      - COUCHDB_USER=mafyuh
      - COUCHDB_PASSWORD=$COUCHDB_PASSWORD
    volumes:
      - /docker/appdata/couchdb-obsidian-livesync/data:/opt/couchdb/data
      - /docker/appdata/couchdb-obsidian-livesync/etc/local.d:/opt/couchdb/etc/local.d
    ports:
      - 5984:5984
    restart: unless-stopped

  rustfs:
    image: rustfs/rustfs@sha256:eadee1b524ec05cbc1fe08426a95e589bc70e70cd15a4591edf176cabde238a6
    environment:
      - RUSTFS_ADDRESS=:9000
      - RUSTFS_CONSOLE_ENABLE=true
      - RUSTFS_ACCESS_KEY=$RUSTFS_ACCESS_KEY
      - RUSTFS_SECRET_KEY=$RUSTFS_SECRET_KEY
    volumes:
      - rustfs_data:/data
    container_name: rustfs
    ports:
      - 9000:9000
      - 9001:9001

volumes:
  mysql_data:
  postgres_data:
  redis_data:
  rustfs_data:
