services:
  mysql:
    image: mysql:9.4
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: mafyuh
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - 3306:3306
    volumes:
      - mysql_data:/var/lib/mysql

  postgres:
    image: postgres:17.5
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: mafyuh
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8
    container_name: redis
    restart: unless-stopped
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

  adminer:
    image: adminer:5.3.0
    container_name: adminer
    restart: unless-stopped
    ports:
      - 8080:8080

  pgadmin:
    image: dpage/pgadmin4:9.6.0
    container_name: pgadmin
    restart: unless-stopped
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@mafyuh.com
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
      - PGADMIN_DISABLE_POSTFIX=true
      # - PGADMIN_CONFIG_OAUTH2_CONFIG=${PGADMIN_CONFIG_OAUTH2_CONFIG}
      # - PGADMIN_CONFIG_AUTHENTICATION_SOURCES="['oauth2', 'internal']"
      # - PGADMIN_CONFIG_OAUTH2_AUTO_CREATE_USER=True
    ports:
      - 5050:80

  couchdb-obsidian-livesync:
    container_name: obsidian-livesync
    image: couchdb:3.4.3
    environment:
      - PUID=2003
      - PGID=2003
      - UMASK=0022
      - TZ=America/New_York
      - COUCHDB_USER=mafyuh
      - COUCHDB_PASSWORD=$COUCHDB_PASSWORD
    volumes:
      - /docker/appdata/couchdb-obsidian-livesync/data:/opt/couchdb/data
      - /docker/appdata/couchdb-obsidian-livesync/etc/local.d:/opt/couchdb/etc/local.d
    ports:
      - 5984:5984
    restart: unless-stopped
  
  rustfs:
    image: rustfs/rustfs@sha256:8cb1ef89f1c8b35732b54e8a750af455577fe767d5f16e00896674a3945eb7a6
    environment:
      - RUSTFS_ADDRESS=":9000"
      - RUSTFS_CONSOLE_ENABLE=true
      - RUSTFS_CONSOLE_ADDRESS=":9001"
    volumes:
      - rustfs_data:/data
    container_name: rustfs
    ports:
      - 9000:9000
      - 9001:9001

volumes:
  mysql_data:
  postgres_data:
  redis_data:
  rustfs_data:
