---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-secrets
  namespace: security
spec:
  interval: 15m
  chart:
    spec:
      chart: *app
      interval: 30m
      version: 1.0.0
      sourceRef:
        kind: HelmRepository
        name: *app
        namespace: flux-system
  values:
    fullnameOverride: external-secrets
    installCRDs: true
    serviceMonitor:
      enabled: true
      interval: 1m
    webhook:
      serviceMonitor:
        enabled: true
        interval: 1m
    certController:
      serviceMonitor:
        enabled: true
        interval: 1m
    image:
      repository: ghcr.io/external-secrets/external-secrets
      tag: v0.20.4
      pullPolicy: IfNotPresent
    replicaCount: 1
    createOperator: true
    bitwarden-sdk-server:
      enabled: true
      serviceMonitor:
        enabled: true
        interval: 1m
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 1000
