---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflared
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  data:
    - secretKey: cloudflared-secret
      remoteRef:
        key: "e7e4e774-0571-4a28-8040-b39e00143446"
