apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: pg-cluster
  namespace: databases
spec:
  teamId: "mafyuh"
  allowedSourceRanges:
    - 0.0.0.0/0
  serviceAnnotations:
    lbipam.cilium.io/ips: "10.0.0.210"
  volume:
    size: 10Gi
    storageClass: ceph-block
  numberOfInstances: 3
  enableMasterLoadBalancer: true
  enableLogicalBackup: true
  users:
    mafyuh:
      - superuser
      - createdb
    authentik: []
    blocky: []
    gatus: []
    jellyseerr: []
    netbox: []
    umami: []
  databases:
    authentik: authentik
    blocky: blocky
    gatus: gatus
    jellyseerr: jellyseerr
    netbox: netbox
    umami: umami
  postgresql:
    version: "17"
    parameters:
      shared_buffers: "256MB"
      effective_cache_size: "768MB"
      maintenance_work_mem: "192MB"
      checkpoint_completion_target: "0.9"
      wal_buffers: "16MB"
      default_statistics_target: "100"
      random_page_cost: "1.1"
      effective_io_concurrency: "200"
      work_mem: "4MB"
      min_wal_size: "2GB"
      max_wal_size: "8GB"
      max_worker_processes: "4"
      max_parallel_workers_per_gather: "2"
      max_parallel_workers: "4"
  patroni:
    pg_hba:
      - "local all all trust"
      - "hostssl all +zalandos 127.0.0.1/32 pam"
      - "host all all 127.0.0.1/32 md5"
      - "hostssl all +zalandos ::1/128 pam"
      - "host all all ::1/128 md5"
      - "local replication standby trust"
      - "hostssl replication standby all md5"
      - "host all all 10.244.0.0/16 md5"
      - "hostnossl all all all reject"
      - "hostssl all +zalandos all pam"
      - "hostssl all all all md5"
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi
