---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
  namespace: *app
spec:
  interval: 15m
  chart:
    spec:
      chart: authentik
      version: 2025.6.4
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: authentik-chart
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: *app
      env:
        - name: AUTHENTIK_POSTGRESQL__HOST
          valueFrom:
            secretKeyRef:
              name: cluster-secrets
              key: AUTHENTIK_POSTGRESQL_HOST
        - name: AUTHENTIK_POSTGRESQL__NAME
          valueFrom:
            secretKeyRef:
              name: cluster-secrets
              key: AUTHENTIK_POSTGRESQL_NAME
        - name: AUTHENTIK_POSTGRESQL__USER
          valueFrom:
            secretKeyRef:
              name: cluster-secrets
              key: AUTHENTIK_POSTGRESQL_USER
        - name: AUTHENTIK_POSTGRESQL__PASSWORD
          valueFrom:
            secretKeyRef:
              name: cluster-secrets
              key: AUTHENTIK_POSTGRESQL_PASSWORD
        - name: AUTHENTIK_POSTGRESQL__PORT
          valueFrom:
            secretKeyRef:
              name: cluster-secrets
              key: AUTHENTIK_POSTGRESQL_PORT
    server:
      name: server
      env:
        - name: TMPDIR
          value: /tmp
      replicas: 1
      securityContext:
        runAsUser: &user 1000        
        runAsGroup: *user
        fsGroup: *user
      ingress:
        enabled: true
        ingressClassName: nginx
        hosts:
          - "auth.${PUBLIC_DOMAIN2}"
        paths: ["/"]
        pathType: Prefix
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: authentik-media-pvc
        - name: custom-css
          configMap:
            name: authentik-custom-css
      volumeMounts:
        - name: custom-css
          mountPath: /web/dist/custom.css
          subPath: custom.css
        - name: media
          mountPath: /media
      resources:
        requests:
          cpu: 200m
        limits:
          cpu: "500m"
    worker:
      replicas: 1
      env:
        - name: TMPDIR
          value: /tmp
      resources:
        requests:
          cpu: 20m
          memory: 600Mi
        limits:
          memory: 1024Mi
    authentik:
      log_level: info
      error_reporting:
        enabled: true
      email:
        from: noreply@mafyuh.io
        host: smtp.protonmail.ch
        port: 587
        username: noreply@mafyuh.io
        password: ${AUTH_SMTP_PASS}
        use_ssl: false
        use_tls: true
        timeout: 30
      redis:
        host: "${AUTHENTIK_POSTGRESQL_HOST}"
      embeddedOutpost:
        enabled: true
      secret_key: ${AUTH_SECRET_KEY}
    postgresql:
      enabled: false
    redis:
      enabled: false