---
services:
  jellyfin:
    image: ghcr.io/linuxserver/jellyfin@sha256:fcb2581301682bb25eb3a5c560718df90445640dd2584541b9fdefad717b4630
    container_name: jellyfin
    devices:
      - /dev/dri/renderD129:/dev/dri/renderD129
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
    volumes:
      - /home/mafyuh/jellyfin/config:/config
      - nas:/Media
      - /home/mafyuh/jellyfin/transcodes:/transcodes
      - /home/mafyuh/jellyfin/cache:/nvmecache
      - /home/mafyuh/jellyfin/metadata:/nvmemetadata
    ports:
      - 8096:8096
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined

  makemkv:
    image: jlesage/makemkv@sha256:f0ec9ad8ba70a57301fa0dc34b16d6df5e3d3dbd4f5fca356a8a0d2ac8577f2a
    container_name: makemkv
    ports:
      - 5800:5800
    environment:
      - MAKEMKV_KEY=$MAKEMKV_KEY
    volumes:
      - /docker/appdata/makemkv:/config:rw
      - /home/mafyuh/makemkv/storage:/storage:rw
      - nas:/output:rw
    devices:
      - /dev/sr0:/dev/sr0
    privileged: true
    security_opt:
      - apparmor:unconfined

  jellystat-db:
    image: postgres:15.2
    environment:
      POSTGRES_DB: 'jfstat'
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    volumes:
      - /docker/appdata/jellystat/postgres-data:/var/lib/postgresql/data

  jellystat:
    image: cyfershepard/jellystat:1.1.4
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_IP: jellystat-db
      POSTGRES_PORT: 5432
      JWT_SECRET: $JWT_SECRET
    ports:
      - "3000:3000"
    volumes:
      - /docker/appdata/jellystat/backup-data:/app/backend/backup-data
    depends_on:
      - jellystat-db
    restart: unless-stopped

volumes:
  nas:
    driver: local
    driver_opts:
      type: nfs
      o: addr=nas.lan,vers=4,rw
      device: ":/mnt/thePool/thePoolShare/Media"
