---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stirling-pdf
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 15m
  values:
    controllers:
      stirling-pdf:
        containers:
          main:
            image:
              repository: ghcr.io/stirling-tools/stirling-pdf
              tag: 2.1.5@sha256:e8b96ebd749ee6c087f853c31fbbb79dc35bb08792bdd5ef0e72e74f5b209ea1
            env:
              TZ: ${TIMEZONE}
              MODE: BOTH
              DOCKER_ENABLE_SECURITY: "false"
              METRICS_ENABLED: "false"
              SYSTEM_ENABLEANALYTICS: "false"
              SYSTEM_GOOGLEVISIBILITY: "false"
              SECURITY_INITIALLOGIN_USERNAME: "admin"
              SECURITY_INITIALLOGIN_PASSWORD: "${STIRLING_PDF_ADMIN_PASSWORD}"
              SECURITY_OAUTH2_ENABLED: "true"
              SECURITY_OAUTH2_ISSUER: https://auth.mafyuh.io/application/o/stirling-pdf/
              SECURITY_OAUTH2_CLIENTID: "3dc91fcac00cfc2e0e63aaeee0819e30abd41958"
              SECURITY_OAUTH2_CLIENTSECRET: "${STIRLING_PDF_OAUTH2_CLIENT_SECRET}"
              SECURITY_OAUTH2_SCOPES: "openid, profile, email"
              SECURITY_OAUTH2_USEASUSERNAME: "preferred_username"
              SECURITY_OAUTH2_PROVIDER: "authentik"
              SECURITY_OAUTH2_AUTOCREATEUSER: "true"
              SECURITY_OAUTH2_BLOCKREGISTRATION: "false"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 200M
              limits:
                memory: 1Gi

    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames:
          - "pdf.mafyuh.dev"
        parentRefs:
          - name: envoy-external
            namespace: kube-system
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - identifier: app
                port: 8080

    persistence:
      config:
        type: persistentVolumeClaim
        storageClass: ceph-block
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /configs
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /logs
            subPath: logs
          - path: /pipeline
            subPath: pipeline
          - path: /tmp
            subPath: tmp
