---
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
services:
  umami:
    image: ghcr.io/umami-software/umami:postgresql-v2.20.1
    ports:
      - 3000:3000
    environment:
      DATABASE_URL: postgresql://umami:$DB_PASS@10.0.0.210:5432/umami
      DATABASE_TYPE: postgresql
      APP_SECRET: $APP_SECRET
    init: true
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:3000/api/heartbeat"]
      interval: 5s
      timeout: 5s
      retries: 5
