---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
  namespace: *app
spec:
  interval: 15m
  chart:
    spec:
      chart: authentik
      version: 2025.8.4
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: authentik-chart
        namespace: flux-system
  values:
    global:
      env:
        - name: AUTHENTIK_POSTGRESQL__HOST
          valueFrom:
            secretKeyRef:
              name: authentik-secrets
              key: AUTHENTIK_POSTGRESQL_HOST
        - name: AUTHENTIK_POSTGRESQL__NAME
          valueFrom:
            secretKeyRef:
              name: authentik-secrets
              key: AUTHENTIK_POSTGRESQL_NAME
        - name: AUTHENTIK_POSTGRESQL__USER
          valueFrom:
            secretKeyRef:
              name: authentik-secrets
              key: AUTHENTIK_POSTGRESQL_USER
        - name: AUTHENTIK_POSTGRESQL__PASSWORD
          valueFrom:
            secretKeyRef:
              name: authentik-secrets
              key: AUTHENTIK_POSTGRESQL_PASSWORD
        - name: AUTHENTIK_POSTGRESQL__PORT
          valueFrom:
            secretKeyRef:
              name: authentik-secrets
              key: AUTHENTIK_POSTGRESQL_PORT
        - name: AUTHENTIK_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: authentik-secrets
              key: AUTHENTIK_SECRET_KEY
        - name: AUTHENTIK_REDIS__HOST
          valueFrom:
            secretKeyRef:
              name: authentik-secrets
              key: AUTHENTIK_POSTGRESQL_HOST
    server:
      name: server
      env:
        - name: TMPDIR
          value: /tmp
      replicas: 1
      securityContext:
        runAsUser: &user 1000        
        runAsGroup: *user
        fsGroup: *user

      ingress:
        enabled: true
        ingressClassName: nginx
        hosts:
          - "${AUTHENTIK_DOMAIN}"
        paths: ["/"]
        pathType: Prefix

      metrics:
        serviceMonitor:
          enabled: true

      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: authentik-media-pvc
        - name: custom-css
          configMap:
            name: authentik-custom-css
      volumeMounts:
        - name: custom-css
          mountPath: /web/dist/custom.css
          subPath: custom.css
        - name: media
          mountPath: /media
      resources:
        requests:
          cpu: 200m
        limits:
          cpu: "1"
    worker:
      replicas: 1
      env:
        - name: TMPDIR
          value: /tmp
      resources:
        requests:
          cpu: 20m
          memory: 600Mi
        limits:
          memory: 1024Mi
    authentik:
      log_level: info
      error_reporting:
        enabled: true
      email:
        from: noreply@mafyuh.io
        host: smtp.protonmail.ch
        port: 587
        username: noreply@mafyuh.io
        password: ${AUTHENTIK_SMTP_PASSWORD}
        use_ssl: false
        use_tls: true
        timeout: 30
      redis:
        host: "${AUTHENTIK_POSTGRESQL_HOST}"
      embeddedOutpost:
        enabled: true
      secret_key: ${AUTHENTIK_SECRET_KEY}
    postgresql:
      enabled: false
    redis:
      enabled: false