apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 75.11.0
      interval: 60m
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: prometheus
    
    defaultRules:
      create: true
      rules:
        alertmanager: true

    crds:
      enabled: true
    alertmanager:
      enabled: true
      config:
        global:
          resolve_timeout: 5m
        route:
          group_by: ["alertname", "job"]
          group_wait: 30s
          group_interval: 5m
          repeat_interval: 6h
          receiver: "n8n"
          routes:
            - receiver: "null"
              match:
                alertname: Watchdog
            - receiver: "null"
              match:
                alertname: InfoInhibitor
            - receiver: "n8n"
              match:
                severity: "critical"
              continue: true
        receivers:
          - name: "null"
          - name: "n8n"
            webhook_configs:
              - url: ${N8N_GOTIFY_ALERTM}
    kubeApiServer:
      enabled: true
    kubelet:
      enabled: true
    kubeStateMetrics:
      enabled: true
    nodeExporter:
      enabled: true
    grafana:
      enabled: true
      replicas: 1
      forceDeployDashboards: false
      defaultDashboardsEnabled: false
      defaultDashboardsTimezone: America/New_York
      defaultDashboardsEditable: true
      ingress:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          nginx.ingress.kubernetes.io/auth-url: http://ak-outpost-authentik-embedded-outpost.authentik.svc.cluster.local:9000/outpost.goauthentik.io/auth/nginx
          nginx.ingress.kubernetes.io/auth-signin: /outpost.goauthentik.io/start?rd=$escaped_request_uri
          nginx.ingress.kubernetes.io/auth-response-headers: Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid
          nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Host $http_host;
        hosts:
          - "grafana.${PUBLIC_DOMAIN}"
        path: /
        tls:
          - secretName: mafyuh-dev-production-tls
            hosts:
              - "grafana.${PUBLIC_DOMAIN}"
      adminPassword: "${GRAF_ADMIN_PASS}"
      persistence:
        enabled: true
        type: sts
        storageClassName: longhorn
        accessModes:
          - ReadWriteOnce
        size: 10Gi
        finalizers:
          - kubernetes.io/pvc-protection

    prometheus:
      ingress:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - "prometheus.${LOCAL_DOMAIN}"
        pathType: Prefix
        tls:
          - secretName: local-mafyuh-dev-production-tls
            hosts:
              - "prometheus.${LOCAL_DOMAIN}"

      prometheusSpec:
        additionalArgs:
          - name: "web.enable-remote-write-receiver"
            value: true
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        configMaps:
          - website-monitoring-targets
        replicas: 1
        retention: 14d
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: longhorn
              resources:
                requests:
                  storage: 30Gi

        additionalScrapeConfigs: |
          - job_name: 'docker_node_exporter'
            static_configs:
              - targets: ['10.69.69.2:9100'] # Ubu
              - targets: ['10.0.0.15:9100'] # Jellyfin
              - targets: ['10.20.10.20:9100'] # Blocky
              - targets: ['10.69.69.200:9100'] # NPM
              - targets: ['10.69.69.189:9100'] # Kasm
              - targets: ['10.69.69.202:9100'] # Wazuh
              - targets: ['10.69.69.199:9100'] # Umami
              - targets: ['10.20.10.75:9100'] # AI

          - job_name: 'cadvisor'
            static_configs:
              - targets: ['10.69.69.2:9101'] # Ubu
              - targets: ['10.0.0.15:9101'] # Jellyfin
              - targets: ['10.20.10.20:9101'] # Blocky
              - targets: ['10.69.69.200:9101'] # NPM
              - targets: ['10.69.69.189:9101'] # Kasm
              - targets: ['10.69.69.202:9101'] # Wazuh
              - targets: ['10.69.69.199:9101'] # Umami
              - targets: ['10.20.10.75:9101'] # AI

          - job_name: 'speedtest-exporter'
            scrape_interval: 1h
            scrape_timeout: 1m
            static_configs:
              - targets: ['10.69.69.2:9798']

          - job_name: 'ping'
            metrics_path: /probe
            scrape_interval: 5s
            params:
              module: [http_2xx]  # Look for a HTTP 200 response.
            static_configs:
              - targets:
                  - http://www.google.com/;google.com
                  - https://github.com/;github.com
                  - https://www.apple.com/;apple.com
            relabel_configs:
              - source_labels: [__address__]
                regex: '(.*);(.*)'  # first is the url, thus unique for instance
                target_label: instance
                replacement: $1
              - source_labels: [__address__]
                regex: '(.*);(.*)'  # second is humanname to use in charts
                target_label: humanname
                replacement: $2
              - source_labels: [instance]
                target_label: __param_target
              - target_label: __address__
                replacement: blackbox-exporter-prometheus-blackbox-exporter.monitoring.svc.cluster.local:9115

          - job_name: 'website-monitoring-http'
            metrics_path: /probe
            params:
              module: [http_2xx]
            file_sd_configs:
              - files:
                - /etc/prometheus/configmaps/website-monitoring-targets/targets.yml
            relabel_configs:
              - source_labels: [__address__]
                target_label: __param_target
              - source_labels: [__param_target]
                target_label: instance
              - target_label: __address__
                replacement: blackbox-exporter-prometheus-blackbox-exporter:9115
          
          - job_name: "website-monitoring-icmp"
            metrics_path: /probe
            params:
              module: [icmp]
            file_sd_configs:
              - files:
                - /etc/prometheus/configmaps/website-monitoring-targets/targets.yml
            relabel_configs:
              - source_labels: [__address__]
                target_label: __param_target
              - source_labels: [__param_target]
                target_label: instance
              - target_label: __address__
                replacement: blackbox-exporter-prometheus-blackbox-exporter:9115

          - job_name: 'blocky'
            static_configs:
              - targets: ['10.20.10.20:4000']

          - job_name: 'pve'
            static_configs:
              - targets:
                - 10.0.0.30  # Proxmox VE node.
                - 10.0.0.3  # Proxmox VE node.
            metrics_path: /pve
            params:
              module: [default]
              cluster: ['1']
              node: ['1']
            relabel_configs:
              - source_labels: [__address__]
                target_label: __param_target
              - source_labels: [__param_target]
                target_label: instance
              - target_label: __address__
                replacement: 10.69.69.2:9221  # PVE exporter.