---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: optiplex-k8s
endpoint: https://10.0.0.150:6443
# renovate: depName=siderolabs/talos datasource=github-releases
talosVersion: v1.10.5
# renovate: depName=kubernetes/kubernetes datasource=github-releases
kubernetesVersion: v1.33.4
additionalApiServerCertSans: &sans
  - 127.0.0.1
additionalMachineCertSans: *sans
cniConfig:
  name: none
nodes:
  - hostname: talos-1.mafyuh.com
    ipAddress: 10.0.0.9
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - deviceSelector:
          physical: true
        dhcp: true
        vip:
          ip: &vip 10.0.0.150
    patches:
      - |-
        machine:
          disks:
          - device: /dev/sda
            partitions:
              - mountpoint: /var/lib/longhorn
  - hostname: talos-2.mafyuh.com
    ipAddress: 10.0.0.84
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - deviceSelector:
          physical: true
        dhcp: true
        vip:
          ip: *vip
    patches:
      - |-
        machine:
          disks:
          - device: /dev/sda
            partitions:
              - mountpoint: /var/lib/longhorn
  - hostname: talos-3.mafyuh.com
    ipAddress: 10.0.0.177
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - deviceSelector:
          physical: true
        dhcp: true
        vip:
          ip: *vip
    patches:
      - |-
        machine:
          disks:
          - device: /dev/sda
            partitions:
              - mountpoint: /var/lib/longhorn
controlPlane:
  schematic:
    customization:
      extraKernelArgs:
        - -init_on_alloc                     
        - -selinux                           
        - apparmor=0                         
        - init_on_alloc=0                    
        - init_on_free=0                     
        - intel_iommu=on                      # PCI Passthrough
        - iommu=pt                            # PCI Passthrough
        - mitigations=off                    
        - security=none                      
        - talos.auditd.disabled=1
      systemExtensions:
        officialExtensions:
          - siderolabs/iscsi-tools
          - siderolabs/util-linux-tools
          - siderolabs/i915
          - siderolabs/intel-ucode
  patches:
    # Disable search domain (DHCP is used)
    - |-
      machine:
        network:
          disableSearchDomain: true
    # Enable host dns
    - |-
      machine:
        features:
          hostDNS:
            enabled: true
            resolveMemberNames: true
            forwardKubeDNSToHost: false
    # Mount longhorn in kubelet
    - |-
      machine:
        kubelet:
          extraMounts:
            - destination: /var/lib/longhorn
              type: bind
              source: /var/lib/longhorn
              options: ["bind", "rshared", "rw"]
        sysctls:
          vm.nr_hugepages: "1024"
    # Configure cluster
    - |-
      cluster:
        allowSchedulingOnControlPlanes: true
        coreDNS:
            disabled: false
        proxy:
          disabled: true
        scheduler:
          config:
            apiVersion: kubescheduler.config.k8s.io/v1
            kind: KubeSchedulerConfiguration
            profiles:
              - schedulerName: default-scheduler
                pluginConfig:
                  - name: PodTopologySpread
                    args:
                      defaultingType: List
                      defaultConstraints:
                        - maxSkew: 1
                          topologyKey: kubernetes.io/hostname
                          whenUnsatisfiable: ScheduleAnyway
    # Configure etcd
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 10.0.0.0/24
    # Configure kube-controller-manager metrics
    - |-
      cluster:
        controllerManager:
          extraArgs:
            bind-address: "0.0.0.0"
    # Configure kube-scheduler metrics
    - |-
      cluster:
        scheduler:
          extraArgs:
            bind-address: "0.0.0.0"