apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app reloader
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: reloader
      version: 2.2.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
  values:
    fullnameOverride: *app

    resources:
      requests:
        cpu: 15m
        memory: 64M
      limits:
        cpu: 15m
        memory: 64M