# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-instance
  namespace: flux-system
spec:
  interval: 15m
  chart:
    spec:
      chart: flux-instance
      version: 0.33.0
      sourceRef:
        kind: HelmRepository
        name: controlplaneio
        namespace: flux-system
  dependsOn:
    - name: flux-operator
      namespace: flux-system
  values:
    instance:
      distribution:
        # renovate: datasource=github-releases depName=controlplaneio-fluxcd/distribution
        version: 2.7.5
      cluster:
        networkPolicy: false
      components:
        - source-controller
        - kustomize-controller
        - helm-controller
        - notification-controller
      sync:
        name: iac
        kind: GitRepository
        url: https://github.com/mafyuh/iac
        ref: refs/heads/main
        path: kubernetes/flux
        interval: 1h
